@font-face {
  font-family: "TH Sarabun New";
  src: url("../fonts/THSarabunNew-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TH Sarabun New";
  src: url("../fonts/THSarabunNew-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.font-th-sarabun {
  font-family: "TH Sarabun New", sans-serif;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}
